@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #000;
}

:root {
  --hy-blue: #0058A3;
  --hy-gray: #b3b3b3;
}